html, body {
    padding: 0%;
    margin: 0%;
    height: 100%;
}

/* style track information */
* {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    color: #404040;
    letter-spacing: 1px; /* handles the space between letters on album titles */
}

body{
    font-size: 14px;
    min-width: 720px; /* This is min width of page when page is resized */
    background: -webkit-linear-gradient(left, #22d686, #24d3d3, #22d686, #24d3d3);
    background: linear-gradient(to right, #22d686, #24d3d3, #22d686, #24d3d3);
    background-size: 600% 100%;
    -webkit-animation: HeroBG 20s ease infinite;
    animation: HeroBG 20s ease infinite;
} 

@-webkit-keyframes HeroBG {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

@keyframes HeroBG {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

#nowPlayingBarContainer {
    width: 100%;
    background-color: #1f1e1e;
    bottom: 0;
    position: fixed;
    min-width: 620px;
}

#nowPlayingBar {
    display: flex; /* flexible view */
    height: 90px;
    padding: 16px;
    box-sizing: border-box;
}

#nowPlayingLeft,
#nowPlayingRight {
    width: 30%;
    min-width: 180px;
}

#nowPlayingRight {
    position: relative;
    margin-top: 16px;
}

#nowPlayingCenter {
    width: 40%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nowPlayingBar .content {
    width: 100%;
}

.playerControls .buttons {
    margin: 0 auto;
    display: table;
}
/* style the buttons */
.controlButton {
    background-color: transparent;
    border: none;
    vertical-align: middle;
}
/* minimize the size of the control icons */
.controlButton img {
    height: 20px;
    width: 20px;
}

.controlButton.play img,
.controlButton.pause img {
    height: 32px;
    width: 32px;
}

.controlButton:hover {
    cursor: pointer;
}

.progressTime {
    color: #a0a0a0;
    font-size: 11px;
    min-width: 40px;
    text-align: center;
}

.playbackBar {
    display: flex;
}

.progressBar {
    width: 100%;
    height: 12px;
    display: inline-flex;
    cursor: pointer;
}

.progressBarBackground {
    background-color: #404040;
    height: 4px;
    width: 100%;
    border-radius: 2px; 
}

.progress {
    background-color: #a0a0a0;
    height: 4px;
    width: 0;
    border-radius: 2px;
}
/* separate the progress bar from other menu controls */
.playbackBar .progressBar {
    margin-top: 3px;
}

#nowPlayingLeft .albumArtwork {
    height: 100%;
    max-width: 57px;
    margin-right: 15px;
    float: left;
    background-size: cover; /* make sure images get resized to the square image */
}

#nowPlayingLeft .trackInfo {
    display: table;
}

/* modify how the track information is being displayed */
#nowPlayingLeft .trackInfo .trackName {
    margin: 6px 0;
    display: inline-block;
    width: 100%;
}

#nowPlayingLeft .trackInfo .artistName span {
    font-size: 12px;
    color: #a0a0a0;
}

.volumeBar {
    width: 180px;
    position: absolute;
    right: 0;
}

.volumeBar .progressBar {
    width: 125px;
}

#topContainer {
    min-height: 100%;
    width: 100%;
}

#navBarContainer {
    background-color: #161616;
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.navBar {
    padding: 25px;
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.logo img {
    width: 32px;
    margin-bottom: 15px;
}

.navBar .group {
    border-top: 1px solid #a0a0a0;
    padding: 10px 0;
}

.navItem {
    padding: 10px 0;
    font-size: 14px;
    font-weight: 700;
    display: block;
    letter-spacing: 1px;
    position: relative;
}

.navItemLink {
    color: #a0a0a0;
    text-decoration: none;
}

.navItemLink:hover {
    color: #ffffff;
    text-decoration: none;
}

.navItemLink .icon {
    position: absolute;
    right: 0%;
    top: 6px;
    width: 25px;
}

#mainViewContainer {
    margin-left: 220px;
    padding-bottom: 90px;
    width: calc(100% -220px);
}

#mainContent {
    padding: 0 20px;
}

#albumTitles {
    color: #404040;
    font-weight: 500;
}

#pageHeadingBig {
    color: #404040;
    padding: 20px;
    text-align: center;
}


.gridViewInfo {
    color: #404040;
    font-weight: 400;
    padding: 5px 0;
    text-align: center;
    text-overflow: ellipsis; /* ends titles in ... if they are too long to avoid wrapping */
    overflow: hidden;
    white-space: nowrap;
}

.gridViewItem {
    display: inline-block;
    margin-right: 20px;
    width: 30%;
    max-width: 200px;
    min-width: 150px; /* as the page gets resized (smaller) the artwork will too */
    margin-bottom: 20px; /* space after artwork */
}

.gridViewItem img {
    width: 100%;
}

.gridViewItem a {
    text-decoration: none;
}

.entityInfo {
    padding: 40px 0 10px 0;
    display: inline-block;
    width: 100%;
}

.entityInfo  .leftSection img {
    width: 100%;
}

.entityInfo .leftSection {
    width: 30%;
    float: left;
    max-width: 250px;
}

.entityInfo .rightSection {
    width: 70%;
    float: left;
    padding: 5px 10px 5px 40px;
    box-sizing: border-box;
}

.entityInfo .rightSection h2 {
    margin-top: 0px;    /* overrides yhe default */
}

.entityInfo .rightSection p {
    color: #656565;
    font-weight: 400;
}

.trackList {
    padding: 0;
}

.trackListRow {
    height: 40px;
    padding: 15px 10px;
    list-style-type: none;
}

.trackListRow span {
    color: #656565;
    font-weight: 400;
}

/* highlight color when hover over tracklist */
.trackListRow:hover {
    background-color: #27ecc2;
}

.trackListRow .trackCount {
    width: 8%;
    float: left;
}

.trackListRow .trackCount img {
    width: 20px;
    visibility: hidden;
    position: absolute;
    cursor: pointer;
}

/* the play button is now visible on hover */
.trackListRow:hover .trackCount img {
    visibility: visible;
}

.trackListRow .trackCount span {
    visibility: visible;
}

.trackListRow:hover .trackCount span {
    visibility: hidden;
}

.trackListRow .trackInfo {
    width: 75%;
    float: left;
}

.trackListRow .trackInfo span {
    display: block; /* places all data in span inside a block */
}

.tracklistRow .trackOptions {
    width: 5%;
    float: left;
    text-align: right;
}

.trackListRow .trackOptions img {
    width: 15px;
    visibility: hidden;
}

.trackListRow:hover .trackOptions img {
    visibility: visible;
}

.trackListRow .trackDuration {
    width: 12%; /* 100 - (75+8) = 12% left */
    float: left;
    text-align: right;
}

.tracklistRow .trackInfo .trackName {
    color: #404040;
    font-weight: 500;
    margin-bottom: 5px; /* space between artist and song in row */
}

.artistInfo {
    text-align: center;
}

.button {
    color: #a0a0a0;
    cursor: pointer;
    margin-bottom: 10px;
    background-color: transparent;
    font-weight: 500;
    letter-spacing: 2px;
    border: 2px solid #a0a0a0;
    border-radius: 500px;
    padding: 15px;
    min-width: 130px;
}

.button.dark {
    background-color: #404040;
    border-color: #a0a0a0;
}